<div class="wrapper">

      <div class="sidebar sidebar-overwrite" data-color="azure" data-background-color="blue" data-image="../../../assets/img/sidebar-1.jpg">

        <div class="mysidebar-wrapper"> </div>

          <div class="logo" >
            <a href="#"  class="simple-text logo-normal NSC-link">
              <img src="images/nepathya-logo.jpg" class="img img-responsive nepathya-logo" height="150px"><br>
              <b>Nepathya Student Council</b>
            </a>
          </div>
          <div class="sidebar-wrapper">
            <ul class="nav">
              <li class="nav-item active" id="nav-item-overwrite">
                <a class="nav-link" href="/">
                  <i class="material-icons material-icon-overwrite">person</i>
                  <p class="sidebar-list-items">Login/Register</p>
                </a>
              </li>
              <!-- your sidebar here -->

              <li class="nav-item" id="nav-item-overwrite">
                  <a class="nav-link" href="">
                    <i class="material-icons material-icon-overwrite">contact_support</i>
                    <p class="sidebar-list-items">Questions Collections</p>
                  </a>
                </li>

                <li class="nav-item" id="nav-item-overwrite">
                  <a class="nav-link" href="#0">
                    <i class="material-icons material-icon-overwrite">book</i>
                    <p class="sidebar-list-items">Solutions</p>
                  </a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="#0">
                    <i class="material-icons material-icon-overwrite">receipt</i>
                    <p class="sidebar-list-items">Notes</p>
                  </a>
                </li>

                <li class="nav-item" id="nav-item-overwrite">
                    <a class="nav-link" href="#0">
                      <i class="material-icons material-icon-overwrite">cloud_upload</i>
                      <p class="sidebar-list-items">Upload</p>
                    </a>
                  </li>

            </ul>
          </div>
      </div>


</div>
